<div class="navigation">
    <ul class="navigation__wrapper">
        <li class="navigation__item">
            <a class="navigation__link"
               routerLink="/home"
               routerLinkActive="navigation__link_active">
                HOME
            </a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link"
               routerLink="/"
               routerLinkActive="navigation__link_active"
               (click)="onLogout()">
                LOG OUT
            </a>
        </li>
    </ul>
</div>
