<div class="container">
    <div class="row">
        <div class="row filterPanel">
            <div class="col-lg-6">
                <div class="input-group">
                    <input #filterValue type="text" class="form-control" placeholder="Search for:">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="filterMail(filterValue.value)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="eMails">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let email of eMails | filter: filterValue.value">
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"><label>From:&nbsp;&nbsp;&nbsp;</label>{{email._from}}</div>                              
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 receiptTime">{{email.timestamp | formatTime}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"><label>To:&nbsp;&nbsp;&nbsp;</label>{{email._to}}</div>  
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mail-subject"><label>Subj:&nbsp;&nbsp;&nbsp;</label>{{ email.theme }}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="!(eMails)" class="alert alert-warning" role="alert">
            <span>Новых писем нет</span>
        </div>
    </div>
</div>

