<div class="panel panel-info">
  <div class="panel-heading" (click)="handleSelect()" [class.selected]="user.selected">
    <h3 class="panel-title">
      {{ user.firstName }} {{ user.surname }}
      <div class="pull-right">
        <span class="badge">{{ user.country }}</span>
      </div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class=" col-12 ">

        <img *ngIf="user.photo" [src]="user.photo" class="user-photo" alt=""/>
        <div *ngIf="!user.photo" class="no-photo"></div>

        <hr/>

        <button (click)="handleRemove()" type="button" class="btn btn-primary btn-xs">Remove</button>

      </div>
    </div>
  </div>
</div>