<!-- usercard -->
<div *ngIf="user" class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{user.firstName}} {{user.surname}}</h3>
  </div>
  <div class="panel-body">

    <table class="table table-user-information">
      <tbody>

        <tr *ngIf="user.photo"><td>photo</td>
          <td><img src="{{user.photo}}" alt="photo"></td>
        </tr>

        <tr *ngIf="user.country">
          <td>Страна</td><td>{{user.country}}</td>
        </tr>

        <tr>
          <td rowspan="5">Вероятные github аккаунты</td>
          <td>
            <table>
              <tr *ngFor="let account of githubAccounts">
                <td>{{account.login}}</td>
              </tr>
            </table>
          </td>
        </tr>

      </tbody>
    </table>

    <button class="btn btn-danger" (click)="onDelete()">Delete</button>

  </div>
</div>
<div *ngIf="!user" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">
      Пользователь не найден
    </h3>
  </div>
</div>
<!-- ...usercard -->