

<form (submit)="submitAuth()" name="loginForm" class="form-signin">
  <label for="userLogin" class="sr-only">Login</label>
  <input type="text" id="userLogin" name="userLogin" [(ngModel)]="userLogin" class="form-control" placeholder="Login" required="" autofocus="">
  <label for="userPassword" class="sr-only">Password</label>
  <input type="password" id="userPassword" name="userPassword" [(ngModel)]="userPassword" class="form-control" placeholder="Password" required="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
