<div [class.panel-primary]="user.selected" [class.panel-info]="!user.selected" class="panel">
    <div class="panel-heading" (click)="select($event)">
        <h3 class="panel-title">
            {{user.surname}} {{user.firstName}}
            <span class="glyphicon glyphicon-save red" aria-hidden="true" (click)="getInfo($event)" title="Получить информацию о github-аккаунтах"></span>
        </h3>
    </div>
    <div class="panel-body" (click)="select($event)">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Страна</td>
                            <td>{{user.country}}</td>
                        </tr>
                        <tr>
                            <td>Фото</td>
                            <td>
                                <img class="img-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" src="{{user.photo}}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>