input[type=number]{
    width: 10ex;
    text-align: right;
    padding-right: 1ex;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}