  <div [ngClass]="{row: true, blue:user.selected}" (click)="select($event)">
    <div class="col-md-6">
      <!-- usercard -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{user.fullName}}</h3>
          
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr><td>Дата рождения</td><td>{{user.birthdate}}</td></tr>
                <tr><td>Пол</td><td>{{user.gender}}</td></tr>
                <tr><td>Адрес</td><td>{{user.address}}</td></tr>
                <tr><td>Email</td><td><a href="mailto:ivanov@mail.ru">{{user.email}}</a></td>
                </tbody>
              </table>
              <button (click) = "delete($event)">Удалить</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ...usercard -->
    </div>
  </div>
