<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- usercard -->
			<div (click)="highlight($event)" [ngClass]="{hightlight: isClicked}" class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{user.firstName + ' ' + user.surname}}</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class=" col-md-9 col-lg-9 ">
							<table class="table table-user-information">
								<tbody>
									<tr>
										<td><span class="align-left">Аватарка</span></td>
										<td><span class="align-right">{{user.photo}}</span></td>
									</tr>
									<tr>
										<td><span class="align-left">Страна</span></td>
										<td><span class="align-right">{{user.country}}</span></td>
									</tr>
									<tr>
										<td colspan="2"><button class="align-right delete" (click)="removeUser()" (mousedown)="notSelect()">Удалить</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- ...usercard -->
		</div>
	</div>
</div>
