$white: #ffffff;
$main: #1ab188;
$main-dark: darken($main, 5%);
$gray-light: #a0b3b0;
$thin: 300;
$bold: 600;

.login {
}
.login__head {
    margin: 0 0 40px;

    color: $white;
    font-weight: $thin;
    text-align: center;
}
.login__error {
    left: 0;
    position: absolute;
    top: -45px;

    color: #B11A1A;
}
.login__field-wrap {
    position: relative;
    margin-bottom: 40px;
}
.login__input {
    display: block;
    height: 100%;
    padding: 5px 10px;
    width: 100%;

    border: 1px solid $gray-light;
    border-radius: 0;

    background: none;
    background-image: none;

    color: $white;
    font-size: 22px;

    transition: border-color .25s ease, box-shadow .25s ease;

    &:focus {
        outline: 0;
        border-color: $main;
    }
}
.login__input.error {
    border-color: #B11A1A;
}
.login__forgot {
    margin-top: -20px;

    color: $main;
    text-align: right;
    text-decoration: none;

    cursor: pointer;
    transition: .5s ease;

    &:hover {
        color: $main-dark;
    }
}
.login__button {
    display: block;
    padding: 15px 0;
    width: 100%;

    border: 0;
    border-radius: 0;

    background: $main;

    color: $white;
    font-size: 2rem;
    font-weight: $bold;
    letter-spacing: .1em;
    text-transform: uppercase;

    cursor: pointer;
    outline: none;
    transition: all.5s ease;
    -webkit-appearance: none;
    &:hover,
    &:focus {
        background: $main-dark;
    }
}
